{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Operation:read.html.twig' %}

{% block operation %}
    {% stylesheets '@campaignchain_operation_facebook_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ status.getUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> View on Facebook</a>
        </div>
    </div>
    <div id="campaignchain-operation-facebook-publish-status">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% set location = status.getOperation().getActivity().getLocation() %}
                <div class='campaignchain-medium-icon'>
                    <img class='icon' src='{{ asset( location|campaignchain_medium_icon ) }}'/>
                    <img class='context-icon' src='{{ asset( location|campaignchain_medium_context ) }}' style='background-image: url("{{ asset( location|campaignchain_medium_context ) }}");'/>
                    <span class="text"><a href="{{ location.getUrl() }}" target="_blank">{{ location.getName() }}</a></span>
                </div>
            </div>
            <div class="panel-body">
            {% if is_public == false %}
                <div class="status">{{ status.getMessage()|campaignchain_make_links|raw }}</div>
            {% else %}
                <div class="fb-post"
                     data-href="{{ status.getUrl() }}"
                     data-width="500"></div>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ status.getUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> View on Facebook</a>
        </div>
    </div>
{% endblock %}

{% block sidebar_operation %}
    {% if status.getPrivacy() == 'EVERYONE' %}
        <p><i class="fa fa-globe"></i> Public</p>
    {% elseif status.getPrivacy() == 'ALL_FRIENDS' %}
        <p><i class="fa fa-users"></i> Friends</p>
    {% elseif status.getPrivacy() == 'FRIENDS_OF_FRIENDS' %}
        <p><i class="fa fa-users"></i> Friends of Friends</p>
    {% elseif status.getPrivacy() == 'SELF' %}
        <p><i class="fa fa-lock"></i> Only Me</p>
    {% endif %}
{% endblock %}